@import "base/_variables.scss";
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	max-width: 950px;
	margin: 0 auto;
}
@import "blocks/promo.scss";
@import "blocks/header.scss";
@import "blocks/buttons.scss";
@import "blocks/benefits.scss";
@import "blocks/title.scss";
@import "blocks/consultation.scss";
@import "blocks/forms.scss";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "base/animations";