.footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 0 56px 0;
        position: absolute;
        top: 0;
       left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
    }
    &__adress {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__wrapper {
        margin: 0 auto;
        margin-top: 35px;
        width: 212px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 52px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
